.price__list-title_place_options {
  color: rgba(0, 0, 0, 1);
}

.price__list-title_place_options::before {
  content: url("./../../../../images/ruble-currency.png");
  position: absolute;
  left: -35px;
  bottom: -3px;
  width: 26px;
}

@media screen and (max-width: 768px) {
  .price__list-title_place_options::before {
    width: 20px;
    bottom: -5px;
  }
}