@import url("./__title-wrap/request__title-wrap.css");
@import url("./__title/request__title.css");
@import url("./__social/request__social.css");

.request {
  padding-top: 96px;
  padding-bottom: 218px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .request {
    padding-bottom: 149px;
    flex-direction: column;
    gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  .request {
    padding-top: 64px;
    padding-bottom: 251px;
    gap: 24px;
  }
}

@media screen and (max-width: 520px) {
  .request {
    padding-top: 40px;
    padding-bottom: 340px;
  }
}