.footer__insta-subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (max-width: 580px) {
  .footer__insta-subscribe {
    justify-content: flex-start;
    gap: 20px;
  }
}

@media screen and (max-width: 360px) {
  .footer__insta-subscribe {
    justify-content: space-between;
    gap: 10px;
  }
}