.subscribe__form {
  width: 100%;
  max-width: 722px;
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

@media screen and (max-width: 520px) {
  .subscribe__form {
    flex-direction: column;
  }
}