.requests-wrap {
  background-image: url("./../../images/requests-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding-right: 96px;
  padding-left: 96px;
}

@media screen and (max-width: 1200px) {
  .requests-wrap {
    padding-right: 70px;
    padding-left: 70px;
  }
}

@media screen and (max-width: 1024px) {
  .requests-wrap {
    padding-right: 43px;
    padding-left: 43px;
  }
}

@media screen and (max-width: 768px) {
  .requests-wrap{
    padding-right: 16px;
    padding-left: 16px;
    background-size: auto;
  }
}
