@import url("./__title/cards__title.css");
@import url("./__items/cards__items.css");

.cards {
  background-color: rgba(241, 241, 241, 1);
  padding: 80px 95px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media screen and (max-width: 1200px) {
  .cards {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media screen and (max-width: 1024px) {
  .cards {
    padding-left: 43px;
    padding-right: 43px;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    padding-left: 16px;
    padding-right: 16px;
    gap: 32px;
  }
}

@media screen and (max-width: 520px) {
  .cards {
    padding-top: 40px;
    padding-bottom: 41px;
    gap: 32px;
  }
}