.day_place_day-7 {
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
  "title ."
  "description-left ."
  "slaider description-right"
  "slaider options";
  position: relative;
  padding-bottom: 15px;
  padding-top: 86px;
}

@media screen and (max-width: 1200px) {
  .day_place_day-7 {
    grid-template-areas:
    "title title"
    "description-left ."
    "description-right description-right"
    "options options"
    "slaider slaider";
  }
}

@media screen and (max-width: 768px) {
  .day_place_day-7 {
    padding-top: 33px;
    grid-template-columns: 100%;
    grid-template-areas:
    "title"
    "description-left"
    "description-right"
    "options"
    "slaider";
  }
}

@media screen and (max-width: 520px) {
  .day_place_day-7 {
    padding-top: 29px;
  }
}