.day_place_day-5 {
  padding-bottom: 191px;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  "slaider title"
  "slaider description";
  position: relative;
}

@media screen and (max-width: 1200px) {
  .day_place_day-5 {
    padding-top: 16px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "title"
    "description"
    "slaider";
  }
}

@media screen and (max-width: 768px) {
  .day_place_day-5 {
    padding-bottom: 95px;
  }
}

@media screen and (max-width: 520px) {
  .day_place_day-5 {
    padding-bottom: 63px;
  }
}