.day_place_day-2 {
  padding-top: 65px;
  padding-bottom: 92px;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "title ."
  "description-left ."
  "slaider description-right";
  position: relative;
}

@media screen and (max-width: 1200px) {
  .day_place_day-2 {
    grid-template-areas:
    "title title"
    "description-left ."
    "description-right ."
    "slaider slaider";
  }
}

@media screen and (max-width: 770px) {
  .day_place_day-2 {
    padding-bottom: 75px;
    grid-template-columns: 100%;
    grid-template-areas:
    "title"
    "description-left"
    "description-right"
    "slaider";
  }
}

@media screen and (max-width: 520px) {
  .day_place_day-2 {
    padding-bottom: 59px;
  }
}