.day__options_place_day-6 {
  margin-top: 48px;
}

@media screen and (max-width: 1200px) {
  .day__options_place_day-6 {
    margin-bottom: 48px;
    margin-top: 0;
  }
}

@media screen and (max-width: 520px) {
  .day__options_place_day-6 {
    margin-bottom: 24px;
  }
}