.header__burger {
  cursor: pointer;
  position: relative;
  background-color: transparent;
  width: 24px;
  height: 19px;
  display: none;
  z-index: 2;
}

.header__burger::before,
.header__burger::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: #275553;
}

.header__burger::before {
  top: 0;
  box-shadow: 0 8px #275553;
  -webkit-transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  -moz-transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  -o-transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.header__burger::after {
  bottom: 0;
  -webkit-transition: bottom .3s .15s, transform .3s;
  -moz-transition: bottom .3s .15s, transform .3s;
  -o-transition: bottom .3s .15s, transform .3s;
  transition: bottom .3s .15s, transform .3s;
}

.header__burger-checkbox:checked ~ .header__burger::before {
  top: 8px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: 0 0;
  -webkit-transition: transform .3s .15s, top .3s, box-shadow .15s;
  -moz-transition: transform .3s .15s, top .3s, box-shadow .15s;
  -o-transition: transform .3s .15s, top .3s, box-shadow .15s;
  transition: transform .3s .15s, top .3s, box-shadow .15s;
}

.header__burger-checkbox:checked ~ .header__burger::after {
  bottom: 8px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: transform .3s .15s, bottom .3s;
  -moz-transition: transform .3s .15s, bottom .3s;
  -o-transition: transform .3s .15s, bottom .3s;
  transition: transform .3s .15s, bottom .3s;
}

@media screen and (max-width: 1023px) {
  .header__burger {
    display: block;
  }

  .header__burger-checkbox:checked ~ .header__burger {
    position: fixed;
    top: 46px;
    right: 42px;
  }
}

@media screen and (max-width: 768px) {
  .header__burger-checkbox:checked ~ .header__burger {
    top: 31px;
    right: 24px;
  }
}
