@media screen and (max-width: 1023px) and (min-width: 768px) {
  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    transition: right 1s ease;
  }

  .header__burger-checkbox:checked ~ * .header__menu {
    right: 0;
  }
}

