.footer__item {
  position: relative;
  box-sizing: border-box;
}

.footer__item:not(:last-child) {
  padding-right: 40px;
}

.footer__item:not(:first-child) {
  padding-left: 41px;
}

.footer__item:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-image: linear-gradient(#212121, #535353, #212121);
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1160px) {
  .footer__item {
    width: 50%;
  }
}

@media screen and (max-width: 1160px) {
  .footer__item:nth-child(odd) {
    padding-left: 0;
  }
}

@media screen and (max-width: 1160px) {
  .footer__item:nth-child(even)::after {
    content: none;
  }
}

@media screen and (max-width: 580px) {
  .footer__item {
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
.footer__item:not(:first-child) {
    padding-left: 0;
  }
}

@media screen and (max-width: 580px) {
  .footer__item:not(:last-child) {
    padding-right: 0;
  }
}

@media screen and (max-width: 580px) {
  .footer__item:not(:last-child)::after {
    content: none;
  }
}