.footer__insta-img {
  object-fit: cover;
  max-height: 112px;
  height: 100%;
  max-width: 105px;
  width: 100%;
}

@media screen and (max-width: 580px) {
  .footer__insta-img {
    max-height: 97px;
    max-width: 91px;
  }
}