.footer__insta-btn {
  appearance: none;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 1);
  padding: 9px 34px;
  border-radius: 5px;
  border-color: rgba(255, 255, 255, 1);
  border-width: 1px;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  .footer__insta-btn {
    padding-right: 23px;
    padding-left: 23px;
  }
}