.form__input {
  width: 100%;
  height: 37px;
  border: 0;
  border-bottom: 1px solid rgba(33, 33, 33, 1);
  box-sizing: border-box;
  padding: 0 0 10px 2px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: black;
}

.form__input::placeholder {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(153, 153, 153, 1);
}